---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

import '../styles/global.css';
import '../styles/alternate.css';

const { title, description, image, frontmatter, robots } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
	</head>
	<body>
        <Nav />
		<slot />
	</body>
    <Footer />
</html>